body {
    background: linear-gradient(to right, red, green, blue);
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    padding
        -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fotky {padding:25px; width: 800px; height: auto;}

a {
    color: white;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.navbar a, footer a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover{
    background-color: white;
    color: black;
}